@charset "UTF-8";
/* Mixin para la sección */
aside.section {
  background-color: #333;
  width: calc(25% - 32px); /* 25% del ancho y resta el margen */
  margin-top: 32px; /* Espacio arriba */
  padding: 16px;
  color: #fff;
  box-sizing: border-box;
  flex: 1; /* Ocupa el mismo espacio horizontalmente */
  /* Estilos para la alineación horizontal */
  display: flex;
  flex-direction: column;
}
aside.section h2, aside.section p, aside.section a {
  color: #fff;
}
aside.section h2 {
  margin-top: 0;
}
aside.section .stuff {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 10px;
}
aside.section .stuff > * {
  margin: 5px 0;
}
aside.section .stuff .icons {
  display: flex;
  flex-direction: column;
  font-size: 25px;
}
aside.section .stuff .icons a {
  margin-right: 10px;
}
aside.section .stuff .progress {
  width: 100%;
}

/* Media queries para dispositivos */
@media screen and (max-width: 768px) {
  .section {
    margin: 16px;
  }
  .main-container {
    flex-direction: column;
    margin: 0 16px;
  }
  h1 {
    font-size: 24px;
  }
  p {
    font-size: 16px;
  }
  .job h3, .school h3, .projects h3, .tecs h3 {
    font-size: 18px;
  }
  .job p, .school p, .projects p, .tecs p {
    font-size: 14px;
  }
  aside.section {
    width: 100%; /* Ocupa todo el ancho en dispositivos pequeños */
    margin-top: 16px; /* Espacio arriba */
  }
}
/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 32px;
}

h1 {
  margin: 0;
  font-size: 38px;
}

p {
  font-size: 18px;
}

/* Estilos para las secciones */
.main-container {
  display: flex;
  justify-content: space-between; /* Distribuye las secciones a ambos lados */
  margin: 0 32px; /* Agrega margen en ambos lados */
  flex-wrap: wrap; /* Permite que los elementos se envuelvan en pantalla pequeña */
}

/* Estilos para la experiencia laboral y educación */
.experience, .education, .programming, .skills {
  display: flex;
  flex-direction: column;
}

.job, .school, .projects, .tecs {
  margin-bottom: 16px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 16px;
}
.job h3, .school h3, .projects h3, .tecs h3 {
  margin: 0;
  font-size: 24px;
  margin-bottom: 5px;
}
.job p, .school p, .projects p, .tecs p {
  margin: 0;
  font-size: 16px;
}

/* Estilos para las secciones */
.section {
  margin: 32px;
  padding: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.progress {
  height: 20px;
  width: 100%;
  border: 1px solid #515151;
  border-radius: 5px;
  background-color: #515151;
  margin-bottom: 15px;
}

.progress-bar {
  height: 100%;
  background: #fff;
  display: flex;
  align-items: center;
  transition: width 0.25s;
  border-radius: 3px;
}

.progress-bar-text {
  margin-left: 10px;
  font-weight: bold;
  color: #333;
}

/* Estilos para los <aside> */
aside.section {
  background-color: #333;
  width: calc(25% - 32px); /* 25% del ancho y resta el margen */
  margin-top: 32px; /* Espacio arriba */
  padding: 16px;
  color: #fff;
  box-sizing: border-box;
  flex: 1; /* Ocupa el mismo espacio horizontalmente */
  /* Estilos para la alineación horizontal */
  display: flex;
  flex-direction: column;
}
aside.section h2, aside.section p, aside.section a {
  color: #fff;
}
aside.section h2 {
  margin-top: 0;
}
aside.section .stuff {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 10px;
}
aside.section .stuff > * {
  margin: 5px 0;
}
aside.section .stuff .icons {
  display: flex;
  flex-direction: column;
  font-size: 25px;
}
aside.section .stuff .icons a {
  margin-right: 10px;
}
aside.section .stuff .progress {
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
