/* Mixin para la sección */
@mixin section-style {
    background-color: $bg-color;
    width: calc(25% - 32px); /* 25% del ancho y resta el margen */
    margin-top: 32px; /* Espacio arriba */
    padding: 16px;
    color: $txr-color;
    box-sizing: border-box;
    flex: 1; /* Ocupa el mismo espacio horizontalmente */

    h2, p, a {
        color: $txr-color;
    }

    /* Estilos para la alineación horizontal */
    display: flex;
    flex-direction: column;

    h2 {
        margin-top: 0;
    }

    .stuff {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 10px;

        > * {
            margin: 5px 0;
        }

        .icons {
            display: flex;
            flex-direction: column;
            font-size: 25px;
            a {
                margin-right: 10px;
            }
        }

        .progress {
            width: 100%;
        }
    }
}

@function calculate-width($width) {
    @return $width / 2; // Ejemplo de una función simple
}