@import "vars";
@import "mixins";
@import "styles-sections";
@import "styles-mediaqueries";
@import "extend";

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

header {
    background-color: $bg-color;
    color: $txr-color;
    text-align: center;
    padding: 32px;
}

h1 {
    margin: 0;
    font-size: 38px;
}

p {
    font-size: 18px;
}

/* Estilos para las secciones */
.main-container {
    display: flex;
    justify-content: space-between; /* Distribuye las secciones a ambos lados */
    margin: 0 32px; /* Agrega margen en ambos lados */
    flex-wrap: wrap; /* Permite que los elementos se envuelvan en pantalla pequeña */
}

/* Estilos para la experiencia laboral y educación */
.experience, .education, .programming, .skills {
    display: flex;
    flex-direction: column;
}

.job, .school, .projects, .tecs {
    margin-bottom: 16px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 16px;

    h3 {
        margin: 0;
        font-size: 24px;
        margin-bottom: 5px;
    }

    p {
        margin: 0;
        font-size: 16px;
    }
}

/* Estilos para las secciones */
.section {
    margin: 32px;
    padding: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.progress {
    height: 20px;
    width: 100%;
    border: 1px solid #515151;
    border-radius: 5px;
    background-color: #515151;
    margin-bottom: 15px;
}

.progress-bar {
    height: 100%;
    background: #fff;
    display: flex;
    align-items: center;
    transition: width 0.25s;
    border-radius: 3px;
}

.progress-bar-text {
    margin-left: 10px;
    font-weight: bold;
    color: #333;
}

/* Estilos para los <aside> */
aside.section {
    @include section-style;
}

