@import url('http://interact.valid000.es/::port:3010');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Popins', sans-serif;
}

header {
    position: fixed;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center; /* Cambiado a centrar horizontalmente */
    align-items: center;
    z-index: 99;
    background: transparent;
}

.nav {
    display: flex;
    align-items: center;
}

.header .nav a {
    text-decoration: none;
    color: #fff;
    font-size: 17px;
    margin-left: 20px; /* Aumentado el margen para separar los enlaces */
    font-weight: 600;
}

.header .search {
    position: absolute;
    right: 20px; /* Ajustado el margen derecho */
    display: flex;
    align-items: center;
}

.header .search input {
    background: transparent;
    font-size: 20px;
    border-radius: 5px;
    border: 2px solid white;
    padding: 5px 10px; /* Ajustado el padding para mejorar el aspecto */
    outline: none;
    color: #fff;
}

.header .search i {
    margin-left: 5px; /* Añadido margen izquierdo para separar el icono */
    color: #fff;
}

.background{
    width: 100%;
    height: 100vh;
    background-image: url('https://images.pexels.com/photos/36717/amazing-animal-beautiful-beautifull.jpg?cs=srgb&dl=pexels-pixabay-36717.jpg&fm=jpg');
    background-position: center;
    background-size: cover;
}

@media only screen and (max-width: 1000px) {
    .background {
    background-image: url('https://t3.ftcdn.net/jpg/05/11/25/36/360_F_511253627_zuzpapnIVQueMx4eSL1ilAoH61OBgj0C.jpg');
    }
}

.home{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 75%;
    height: 75%;
    transform: translate(-50%, -50%);
    background-image: url('https://images.pexels.com/photos/36717/amazing-animal-beautiful-beautifull.jpg?cs=srgb&dl=pexels-pixabay-36717.jpg&fm=jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 10px;
    border: none;
}

@media only screen and (max-width: 1000px) {
    .home {
    background-image: url('https://t3.ftcdn.net/jpg/05/11/25/36/360_F_511253627_zuzpapnIVQueMx4eSL1ilAoH61OBgj0C.jpg');
    }
}

.content{
    display: flex;
    flex-direction: column;
    width: 700px;
    padding: 170px 0;
}

.content a{
    position: relative;
    text-decoration: none;
    color: #fff;
    font-size: 3em;
    font-weight: 700;
    top: -100px;
    left: 80px;
}

.content h2{
    font-size: 3.5em;
    text-align: center;
    color: #fff;
}

.content h3{
    font-size: 3.5em;
    text-align: center;
    color: #fff;
}

.content pre{
    margin-top: 20px;
    font-size: 1.5em;
    text-align: center;
    color: #fff;    
}

.content .icon{
    margin-top: 20px;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
}

.content .icon i{
    margin-left: 20px;
    color: #fff;
}

/* ------ */

.login{
    width: 450px;
    position: relative;
    padding: 100px 30px;
    backdrop-filter: blur(20px);
    margin: 0 auto;
}

.login h2{
    font-size: 2em;
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
}

.login .input{
    position: relative;
    width: 100%;
    height: 30px;
    margin-bottom: 40px;
    flex-direction: column;
}

.input i {
    position: absolute;
    top: 50%;
    right: 10px; /* Ajusta el valor según tu diseño */
    transform: translateY(-50%);
}

.login .input .input1{
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid #fff;
    columns: #fff;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

/* ------ */
::placeholder{
    columns: #fff;
    font-size: 18px;
}

.login .input{
    position: relative;
    right: -3px;
    margin-top: 80px;
    bottom: 27px;
    color: #fff;
}

.check{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    color: #fff;
}

.check a{
    text-decoration: none;
    color: #fff;
}

.check a:hover{
    text-decoration: underline;
}

@media only screen and (max-width: 1000px) {
    .check a{
        display: inline;
        margin-right: -60px;
    }
}


.login .button{
    width: 100%;
    height: 40px;
    margin-bottom: 15px;
}

button{
    width: 100%;
    height: 40px;
    background-color: crimson;
    border: none;
    outline: none;
    font-size: 20px;
    font-weight: 700;
    border-radius: 7px;
    color: #fff;
}

@media only screen and (max-width: 1000px) {
    button{
        background-color: #F7DC6F;
    }
}

button:active{
    font-size: 25px;
}

.login .sign-up{
    display: flex;
    justify-content: center;
}

.login .sign-up a{
    text-decoration: none;
    color: #fff;
    font-weight: 700;
}

.login .sign-up p{
    text-decoration: none;
    color: #fff;
    font-weight: 700;
}

.sign-up a:hover{
    text-decoration: underline;
}